html, body {
    height: 100%;
    font-family: 'Crimson Text', serif;
}

#map {
    height: 100%;
}

#main {
    position: absolute;
    margin: 0 auto;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 99;
    background-color: rgba(118, 235, 196, 0.6);
}

#theWord {
    font-family: 'Nova Mono', monospace;
    font-size: 80px;
    letter-spacing: 10px;
}

#wrongGuesses {
    font-size: 25px;
    letter-spacing: 3px;
}

.fail {
    color: grey;
}