html, body {
    height: 100%;
    font-family: 'Crimson Text', serif;
    font-size: 25px;
    letter-spacing: 2px; 
}

h1, h2 {
    font-size: 25px;
    letter-spacing: 2px; 
}

#map {
    height: 100%;
}

#main {
    position: absolute;
    margin: 0 auto;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 100;
    background-color: rgba(118, 235, 196, 0.6);
}

#score {
    position: absolute;
    bottom: 50px;
    left: 50px;
    padding: 40px;
    text-align: center;
    z-index: 100;
    background-color: rgba(19, 36, 19, 0.6);
    color: yellowgreen;
}

#theWord {
    font-family: 'Nova Mono', monospace;
    font-size: 80px;
    letter-spacing: 10px;
}


.fail {
    color: grey;
}